<?xml version="1.0"?>

<!-- Controller spawner
	- joint state controller
	- vf controller
	- robot state publisher
 -->

<launch>
  <!-- Load the configuration file of the controller -->
  <rosparam command="load" file="$(find vf_controller)/config/vf_controller.yaml" />
  
  <!-- Joint state controller -->
  <!-- <rosparam command="load" file="$(find joint_state_controller)/joint_state_controller.yaml" /> -->

  <!-- Spawn controllers -->
  <node name="vf_controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen"
	args="vf_controller
  " />

  <!-- Robot state publisher -->
  <!-- <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node> -->
  
</launch>
